.white-text{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.tabs{
  margin-top: 10px;

}
.btn-tab{
  color: #f44242;
  border-color: #f44242;
  width: 100%;
  margin-bottom: 10px;
}

.btn-tab:hover{
  background-color: #f98181;
  color: white;
}

.active {
  background-color: #f44242;
  color: white;
}

h1 {
  font-family: Arial !important;
}
