{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>

   <title>EDC - East Data Console</title>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <div class="row">
          <div class="col-5 white-text"><h1>EDC - East Data Console</h1></div>
        </div>
      </div>
    </nav>

   <div class="container">
      <div class="row tabs">
        <div class="col-lg-2"></div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6"><a href="/" class="btn btn-tab">Home</a></div>
         <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6"><a href="/leaderboard" class="btn btn-tab active">Leaderboards</a></div>
         <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6"><a href="/individual"class="btn btn-tab">Individual Stats</a></div>
         <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6"><a href="/about" class="btn btn-tab">About</a></div>

      </div>
    </div>

  <hr>

  <center><h1>EAST DATA CONSOLE - LEADERBOARDS</h1>

  <br><br>
  <div class="row" style="width: 90%">
    {% for item in methods %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6"><a href="/leaderboard?method={{item[0]}}" class="btn btn-tab {% if (item[0] == method) %}active{% endif %}">{{item[1]}}</a></div>
    {% endfor %}
  </div>
  <h2>{{methods[method][1]}}</h2>
      <h4>{{methods[method][2]}}</h4>


<div class="row">
<table class="table" style="width: 70%">
  <tr><th>Rank</th><th>Name</th><th>Score</th><th>Real Comments</th><th>Meme Comments</th></tr>
  {% for item in table %}
  <tr><td>{{item[0]}}</td><td>{{item[1]}}</td><td>{{item[2]}}</td><td>{{item[3]}}</td><td>{{item[4]}}</td></tr>
  {% endfor %}
</table>
</div>

  </center>



    <div class="copyright py-4 text-center white-text">
      <div class="container">
        <small>Software created by &copy; Jonah Rubin 2018</small>
        <br>
        <small>Data collected by EDCs Caleb N and Aria B</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
  </body>

{%- endblock %}

